<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_01_EstacionamientoNegocios.Properties.Settings.EstacionamientoPConnectionString"
            connectionString="Data Source=(local)\sqlexpress;Initial Catalog=EstacionamientoP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>