<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="_01_EstacionamientoNegocios.Properties.Settings.EstacionamientoConnectionString1"
         connectionString="Data Source=DESKTOP-536T0JD\SQLEXPRESS;Initial Catalog=BD_ESTACIONAMIENTO_CM;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
